<%- include("partials/header.ejs") %>

<div class="posts">
  <% if(posts.length !== 0) { %> 
    <form action="/view" method="POST">
    <% posts.forEach(post => { %>
    <button type="submit" name="postID" value="<%= post.ID %>">
      <h2 class="postTitle"><%= post.title %></h3>
      <p class="postContent"><%= post.content.substring(0, 150) %></p>
    </button>
    <!-- <hr> -->
  <% }) %> 
</form>
  <% } else { %>
    <div class="noPosts">
      <h3>No posts available.<br>Create one now!</h3>
    </div>
  <% } %>
</div>

<%- include("partials/footer.ejs") %>
