<%- include("partials/header.ejs") %>

<div class="editPost">
  <form action="/view" method="POST">
    <textarea name="postTitle" value="<%= post.title  %>" class="editPostTitle"><%= post.title %></textarea>
    <textarea name="postContent" value="<%= post.content  %>" class="editPostContent"><%= post.content %></textarea>
    <div class="buttons">
      <button class="update" type="submit" name="updatePost" value="<%= post.ID %>">
        Update
      </button>
      <button class="cancel" type="submit" name="cancelPost" value="<%= post.ID %>">
        Cancel
      </button>
    </div>
  </form>
</div>

<%- include("partials/footer.ejs") %>
