<%- include("partials/header.ejs") %>

<div class="viewPostActions">
  <form action="/edit" method="POST">
    <button type="submit" name="updatePost" value="<%= post.ID %>">Edit</button>
    <button type="submit" name="deletePost" value="<%= post.ID %>">
      Delete
    </button>
  </form>
</div>

<div class="viewPost">
  <textarea readonly class="postTitle" name="postTitle"><%= post.title %></textarea>
  <textarea readonly class="postContent" name="postContent"><%= post.content %></textarea>
</div>

<%- include("partials/footer.ejs") %>
